In [1]:
import pandas as pd
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

In [2]:
shopping_carts = pd.DataFrame(items)

In [3]:
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [4]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

In [5]:
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])
store_items

         bikes  glasses  pants  watches
store 1     20      NaN     30       35
store 2     15     50.0      5       10

In [6]:
store_items ["bikes"]

store 1    20
store 2    15
Name: bikes, dtype: int64

In [7]:
store_items ["bikes","pants"]

KeyError: ('bikes', 'pants')

In [8]:
store_items [["bikes","pants"]]

         bikes  pants
store 1     20     30
store 2     15      5

In [9]:
store_items.loc ["store 1"]

bikes      20.0
glasses     NaN
pants      30.0
watches    35.0
Name: store 1, dtype: float64

In [10]:
store_items.loc [["store 1"]]

         bikes  glasses  pants  watches
store 1     20      NaN     30       35

In [11]:
store_items ['shirt'] = [15,2]

In [12]:
store_items

         bikes  glasses  pants  watches  shirt
store 1     20      NaN     30       35     15
store 2     15     50.0      5       10      2

In [13]:
store_items ['suits'] = store_items ['pants'] + store_items ['shirt']
store_items

         bikes  glasses  pants  watches  shirt  suits
store 1     20      NaN     30       35     15     45
store 2     15     50.0      5       10      2      7

In [14]:
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]
new_store = pd.DataFrame (new_items, index = ['store 3'])
store_items.append (new_store)
store_items

/Users/ankitangra/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

         bikes  glasses  pants  watches  shirt  suits
store 1     20      NaN     30       35     15     45
store 2     15     50.0      5       10      2      7

In [15]:
new_store = pd.DataFrame (new_items, index = ['store 3'])

In [16]:
store_items.append (new_store)

/Users/ankitangra/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

         bikes  glasses  pants  shirt  suits  watches
store 1     20      NaN     30   15.0   45.0       35
store 2     15     50.0      5    2.0    7.0       10
store 3     20      4.0     30    NaN    NaN       35

In [17]:
store_items = store_items.append (new_store)

/Users/ankitangra/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [18]:
store_items = store_items.append(new_store)

/Users/ankitangra/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [19]:
store_items = store_items.append(new_store, sort = False)

In [20]:
store_items

         bikes  glasses  pants  shirt  suits  watches
store 1     20      NaN     30   15.0   45.0       35
store 2     15     50.0      5    2.0    7.0       10
store 3     20      4.0     30    NaN    NaN       35
store 3     20      4.0     30    NaN    NaN       35
store 3     20      4.0     30    NaN    NaN       35

In [21]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])
store_items

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      NaN     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     NaN     10    NaN       35

In [22]:
x =  store_items.isnull().sum().sum()

In [23]:
x

3

In [24]:
x =  store_items.isnull().sum()

In [25]:
x

bikes      0
glasses    1
pants      0
shirts     1
shoes      0
suits      1
watches    0
dtype: int64

In [26]:
x =  store_items.isnull()
x

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1  False     True  False   False  False  False    False
store 2  False    False  False   False  False  False    False
store 3  False    False  False    True  False   True    False

In [27]:
x =  store_items.isnull().sum()

In [28]:
x

bikes      0
glasses    1
pants      0
shirts     1
shoes      0
suits      1
watches    0
dtype: int64

In [29]:
x = store_items.count ()
x

bikes      3
glasses    2
pants      3
shirts     2
shoes      3
suits      2
watches    3
dtype: int64

In [30]:
store_items = store_items.dropna (0)
store_items

         bikes  glasses  pants  shirts  shoes  suits  watches
store 2     15     50.0      5     2.0      5    7.0       10

In [31]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])
store_items

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      NaN     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     NaN     10    NaN       35

In [32]:
store_items = store_items.fillna (0)
store_items

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      0.0     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     0.0     10    0.0       35